<div class="header">
    <img src="assets/imagenprincipal.jpg" style="height: 100%; width: 100%;">
    <div id="textoImagen">Hospital<br><br><br><br><br><br><br><br><br><br><br><br><br> Clinicas</div>
</div>
<div class="navbar">
  
    <div id="nameNav">
    <img src="assets/icono.jpeg" style="border-radius: 50%; height: 100px; width: 100px; float:left"><br><br>
    <span>Hospital de Clinicas</span>
    <!--<a (click)="irRegistro()" class="right">Registrarse</a>-->
    <a (click)="irLogin()" class="right">Iniciar Sesión</a>
    </div>
  </div>    
  <div id="section1">
    
    <!--<mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Hospital de Clinicas</mat-card-title>
        <mat-card-subtitle>Inicio de Sesión</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/imagenlogin.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Complete los campos vacios
        </p>
        <div>
          <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Correo</mat-label>
              <input matInput type="text" [(ngModel)]="mail">
              <button *ngIf="mail" matSuffix mat-icon-button aria-label="Clear" (click)="mail=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" [(ngModel)]="pass">
              <button *ngIf="pass" matSuffix mat-icon-button aria-label="Clear" (click)="pass=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="iniciarSesion()">Iniciar Sesion</button>
        <button mat-button (click)="volverInicio()">Volver a Inicio</button>
      </mat-card-actions>
    </mat-card>-->


    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Hospital de Clinicas</mat-card-title>
        <mat-card-subtitle>Registro</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/imagenlogin.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Complete los campos vacios
        </p>
        <div>
          <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Usuario</mat-label>
              <input matInput type="text" [(ngModel)]="user">
              <button *ngIf="user" matSuffix mat-icon-button aria-label="Clear" (click)="user=''">
                <mat-icon>close</mat-icon>
              </button>
          </mat-form-field>
          <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Correo</mat-label>
              <input matInput type="email" [(ngModel)]="mail">
              <button *ngIf="mail" matSuffix mat-icon-button aria-label="Clear" (click)="mail=''">
                <mat-icon>close</mat-icon>
              </button>
          </mat-form-field>
          <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" [(ngModel)]="pass">
              <button *ngIf="pass" matSuffix mat-icon-button aria-label="Clear" (click)="pass=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Repetir Contraseña</mat-label>
              <input matInput type="password" [(ngModel)]="reppass">
              <button *ngIf="reppass" matSuffix mat-icon-button aria-label="Clear" (click)="reppass=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="registrarNuevoUsuario()">Registrar</button>
      </mat-card-actions>
  </mat-card>



    <br>

    <h1 class="subtitle">MISIÓN</h1>
    <p>El Sedes La Paz ejerce la rectoría en el Sistema Departamental de Salud, 
      promoviendo <br> el derecho de la población en el marco de la Política Departamental de <br> “SALUD PARA LA PAZ”, 
      contribuyendo a mejorar la calidad de vida.
    </p>
    <div id="section1_2">      
      <div id="section1_2_2">
        <div >          
          <img class="mobileCard" style="opacity: 1;" src="assets/mision.jpg" height="500" width="500"/>
          <img  src="../../assets/images/MarcoMovil.png" height="500" width="500"/>         
        </div>        
      </div>
    </div>
    
  </div>
  <br>
  <div id="section1">
    <h1 class="subtitle">VISION</h1>
    <p>El Sedes La Paz regula, implementa políticas, planes, programas y proyectos que contribuyan <br>
      a la estructuración de redes funcionales de salud acreditadas con acciones de promoción, prevención<br>
       con responsabilidad compartida en el marco de la “SALUD PARA LA PAZ CON TODOS”.
    </p>
    <div id="section1_2">      
      <div id="section1_2_2">
        <div >          
          <img class="mobileCard" style="opacity: 1;" src="assets/vision.jpg" height="500" width="500"/>
          <img  src="../../assets/images/MarcoMovil.png" height="500" width="500"/>          
        </div>        
      </div>
    </div>
    <br>
    <br>
    <owl-carousel-o [options]="customOptions" style="height: 500px; width: 500px;">
      <ng-template carouselSlide><span style="font-size: 25px;">Hospital de clinicas</span><br><br><img src="assets/icono.jpeg" style="height: 100%; width: 100%;"></ng-template>  
      <ng-template carouselSlide><span style="font-size: 25px;">Instalacion</span><br><br><img src="assets/imagen2.jpeg" style="height: 100%; width: 100%;"></ng-template>  
      <ng-template carouselSlide><span style="font-size: 25px;">Vista de fuera</span><br><br><img src="assets/imagen1.jpeg" style="height: 100%; width: 100%;"></ng-template>  
    </owl-carousel-o>

    
    
  </div>
  <br><br><br>
  <div id="section_2">
    <h1 class="subtittle_"> <strong>Objetivos</strong></h1>
    <p class="paragraphs">Contribuir a mejorar la calidad de vida, la situación de salud y la inclusión social de la población del Departamento de La Paz, en el marco de la construcción de una sociedad saludable establecida en el pacto por La Paz.    </p>
    <div class="advantages">
      <div >
        <h3 class="subtittle_" style="font-size: 18px;"> <strong>ACCESO AL SISTEMA ÚNICO DE SALUD UNIVERSAL Y GRATUITO/SAFCI</strong></h3>
        <p class="paragraphs" style="font-size: 16px; margin-top: -5px; text-align: left;">
          Mejorar la gestión de RRHH, infraestructura, equipamiento, de<br> las redes de  servicios de salud.
        </p>
      </div>
      <div >
        <h3 class="subtittle_" style="font-size: 18px;"> <strong>PROMOCIÓN DE LA SALUD Y PARTICIPACIÓN SOCIAL</strong></h3>
        <p class="paragraphs" style="font-size: 16px; margin-top: -5px;">
          Promover estilos de vida saludables, cambios de comportamiento y la <br>comunicación de saberes, prácticas y conocimientos.
        </p>
      </div>
      <div >        
        <h3 class="subtittle_" style="font-size: 18px;"> <strong>SOBERANÍA Y RECTORÍA EN SALUD</strong></h3>
        <p class="paragraphs" style="font-size: 16px; margin-top: -5px;"> 
          Fortalecer la capacidad institucional para la planificación, programación, ejecución, seguimiento, evaluación, regulación, <br>
          fiscalización, la gestión del financiamiento y el desarrollo organizacional.
        </p>
      </div>      
    </div>
  </div>
    
<div class="footer">
  <div class="footer-content">
    <div class="footer-section about" style="width: 25%;">
      <img src="assets/icono.jpeg" height="100px" width="100px" style="border-radius: 50%;"/><br><br>
      <span ><strong style="font-size: 25px; "> Hospital de Clinicas </strong></span><br>
      <p style="font-size: 15px; margin-top: 10px; line-height: 1.3;">
        El Sedes La Paz ejerce la rectoría en el Sistema Departamental de Salud.
    </p>    
    </div>
    <div class="footer-section links">
      <br><br>
      <span ><strong style="font-size: 25px;"> Contactanos </strong></span>
      <br>
      <br>
      <ul>
        <li><span style="font-size: 15px;">Calle Capitan Ravelo Nº 2180 Ciudad La Paz, La Paz, Bolivia</span></li><br>
        <li><span style="font-size: 15px;">Telefono: 2-22441749</span></li><br>
        <li><span style="font-size: 15px;">E-mail: central@sedeslapaz.gob.bo</span></li><br>
        <li><span style="font-size: 15px;">Website: 
          <a style="cursor: pointer;" href="https://www.sedeslapaz.gob.bo/" target="_blank">https://www.sedeslapaz.gob.bo/</a>
        </span></li>    
      </ul>
    </div>
    <div class="footer-section buttons">
      <br><br>
      <span ><strong style="font-size: 25px;"> Navegación </strong></span>      
      <br>
      <br>
      <ul>
        <!--<li><a style="font-size: 15px; cursor: pointer;" (click)="irRegistro()"> Registrarse</a></li><br>-->
        <li><a style="font-size: 15px; cursor: pointer;" (click)="irLogin()"> Iniciar Sesión</a></li>
      </ul>
    </div>
  </div>  
</div>