<div style="width: 100%; height: 300px;">
    <img src="assets/imagenprincipal.jpg" style="width: 100%; height: 100%;">
</div>
<mat-toolbar style="background-color: rgb(69, 116, 245); color: white;">
    <span>Hospital</span>
    <span class="example-spacer"></span>
    <button mat-button style="background-color: white; color: rgb(42, 109, 252);" (click)="irLogin()">Iniciar Sesión</button>
    &nbsp;
    <button mat-button style="background-color: white; color: rgb(42, 109, 252);" (click)="irRegistro()">Registrarse</button>    
</mat-toolbar>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Inicio">
        <div style="align-content: center; text-align: center; font-family: 'Comic Sans MS', 'Comic Sans', cursive; padding: 20px;">
            <img src="assets/mision.jpg" style="width: 500px; height: 500px;">
            <h1>Misión</h1>
            <h3>Somos un Hospital de alta complejidad, con servicios médicos especializados y<br>
                la formación académica de recursos humanos en salud integral y especializada,<br>
                 beneficia a la salud de nuestra población.</h3>
            <hr>
            <img src="assets/vision.jpg" style="width: 500px; height: 500px;">
            <h1>Visión</h1>
            <h3>El año 2020 ser un Hospital moderno de tercer nivel de referencia departamental y<br> 
                nacional, en la prestación de servicios especializados con inclusión y protección social a<br> 
                la población en situación de riesgo en salud</h3>
            <hr>
            <img src="assets/objetivo.jpg" style="width: 500px; height: 500px;">
            <h1>Objetivo</h1>
            <h3>Brindar acceso al sistema de salud en sus diferentes niveles <br>
                 especialidades con  atención integral de calidad y el acceso <br>
                  de salud</h3>
        </div>
    </mat-tab>
    <mat-tab label="Mensaje del director">
        <div style="align-content: center; text-align: center; font-family: 'Comic Sans MS', 'Comic Sans', cursive; padding: 20px;">
            Son 15 años desde que el Padre José inauguró el Hospital “Arco Iris”, con un sello social de colores, deberíamos responder por la <br>
            atención en salud de la población más vulnerable y excluida de la ciudad de La Paz y de El Alto; “los niñ@s de y en la calle”. Este<br> 
            mandato nos permitió entender el valor de la gente, nuestra misión y visión, la importancia vital de la ética, calidad y humanismo de <br>
            nuestros servicios para convertirnos en un Hospital líquido, fluido, flexible y adaptarnos a las necesidades y a los procesos de transformación <br>
            de nuestro país y de su gente; esto significó ir más allá de nuestras paredes, ponernos al servicio de los pacientes, de las redes de salud <br>
            y del sistema de salud. Comprometiéndonos con las personas, familias, comunidad y la sociedad en su conjunto; compartiendo valores, buscando <br>
            hacernos presente en la realidad médica, familiar y social de nuestro país. Por tanto nuestro Hospital se hace visible, no es evanescente ni “gaseoso”; <br>
            se hace ágil, interactivo, comprometido con su trabajo y su responsabilidad con la gente; es un Ser liquido porque está constituido por seres <br>
            humanos también líquidos; en un mundo de crisis permanente de sueños y expectativas, de incertidumbre y miedos, en el que nos podemos <br>
            equivocar, pero que aprendemos de todo lo que hacemos, porque debemos ser humildes al momento de autoevaluarnos y hacer la lectura de los <br>
            nuevos tiempos. De esta forma intentamos evitar el aspecto “solido“, petrificado, rígido, insensible y burocratizado del hospital tradicional. <br>
            Somos un hospital orientado al paciente, que hace uso intensivo de las tecnologías de información y comunicación, que se reinventa todos los días, <br>
            qué innova procesos y que no tiene miedo a los cambios y más bien los aprovecha para mejorar sus servicios en beneficio de nuestros <br>
            pacientes y de la salud del país. En estos 15 años nos hemos transformado del hospital social de colores a un hospital líquido que sueñe <br>
            con grandes cosas y con mejores días para la salud de nuestro país; compartiendo los valores de nuestro fundador el Padre José y poniendo siempre <br>
            adelante nuestro compromiso con los más humildes y vulnerables sin perder de vista la sostenibilidad económica de la obra, porque no se <br>
            puede “dar” de lo que “no se tiene”.<br>
Dr. Ramiro Narváez Fernández

        </div>    
    </mat-tab>
    <mat-tab label="Contactanos">
        <div style="align-content: center; text-align: center; font-family: 'Comic Sans MS', 'Comic Sans', cursive; padding: 20px;">
            <h1>Dirección</h1>
            <h2>Calle Capitan Ravelo Nº 2180 Ciudad La Paz, La Paz, Bolivia<br>
            Telefono: 2-22441749<br>
            E-mail: central@sedeslapaz.gob.bo<br>
            Website: https://www.sedeslapaz.gob.bo/<br></h2>
        </div>        
    </mat-tab>
</mat-tab-group>
<mat-toolbar style="background-color: rgb(69, 116, 245); color: white; height: 150px;">
    <span>Hospital</span>
    <span class="example-spacer"></span>
    <h2>Calle Capitan Ravelo Nº 2180 Ciudad La Paz, La Paz, Bolivia<br>
        Telefono: 2-22441749<br>
        E-mail: central@sedeslapaz.gob.bo<br>
        Website: https://www.sedeslapaz.gob.bo/<br></h2>
    <span class="example-spacer"></span>
    <button mat-button style="background-color: white; color: rgb(42, 109, 252);" (click)="irLogin()">Iniciar Sesión</button>
    &nbsp;
    <button mat-button style="background-color: white; color: rgb(42, 109, 252);" (click)="irRegistro()">Registrarse</button>    
</mat-toolbar>