<div class="header">
    <img src="assets/imagenprincipal.jpg" style="height: 100%; width: 100%;">
    <div id="textoImagen">Hospital General</div>
</div>
<div class="navbar">
    <div id="nameNav">
    <span >Hospital General</span>    
    <a (click)="irRegistro()" class="right">Registrarse</a>
    <a (click)="irLogin()" class="right">Iniciar Sesión</a>
    </div>
  </div>    
  <div id="section1">
    <h1 class="subtitle">MISIÓN</h1>
    <p>El Sedes La Paz ejerce la rectoría en el Sistema Departamental de Salud, 
      promoviendo <br> el derecho de la población en el marco de la Política Departamental de <br> “SALUD PARA LA PAZ”, 
      contribuyendo a mejorar la calidad de vida.
    </p>
    <div id="section1_2">      
      <div id="section1_2_2">
        <div >          
          <img class="mobileCard" style="opacity: 1;" src="assets/mision.jpg" height="500" width="500"/>
          <img  src="../../assets/images/MarcoMovil.png" height="500" width="500"/>          
        </div>        
      </div>
    </div>
  </div>
  <br>
  <div id="section1">
    <h1 class="subtitle">VISION</h1>
    <p>El Sedes La Paz regula, implementa políticas, planes, programas y proyectos que contribuyan <br>
      a la estructuración de redes funcionales de salud acreditadas con acciones de promoción, prevención<br>
       con responsabilidad compartida en el marco de la “SALUD PARA LA PAZ CON TODOS”.
    </p>
    <div id="section1_2">      
      <div id="section1_2_2">
        <div >          
          <img class="mobileCard" style="opacity: 1;" src="assets/vision.jpg" height="500" width="500"/>
          <img  src="../../assets/images/MarcoMovil.png" height="500" width="500"/>          
        </div>        
      </div>
    </div>
  </div>
  <div id="section_2">
    <h1 class="subtittle_"> <strong>Objetivos</strong></h1>
    <p class="paragraphs">Contribuir a mejorar la calidad de vida, la situación de salud y la inclusión social de la población del Departamento de La Paz, en el marco de la construcción de una sociedad saludable establecida en el pacto por La Paz.    </p>
    <div class="advantages">
      <div >
        <mat-icon style="margin-left: -25px;">accessibility_new</mat-icon><br><br>
        <h3 class="subtittle_" style="font-size: 18px;"> <strong>ACCESO AL SISTEMA ÚNICO DE SALUD UNIVERSAL Y GRATUITO/SAFCI</strong></h3>
        <p class="paragraphs" style="font-size: 16px; margin-top: -5px; text-align: left;">
          Mejorar la gestión de RRHH, infraestructura, equipamiento, de<br> las redes de  servicios de salud.
        </p>
      </div>
      <div >
        <mat-icon style="margin-left: -25px;">supervised_user_circle</mat-icon><br><br>
        <h3 class="subtittle_" style="font-size: 18px;"> <strong>PROMOCIÓN DE LA SALUD Y PARTICIPACIÓN SOCIAL</strong></h3>
        <p class="paragraphs" style="font-size: 16px; margin-top: -5px;">
          Promover estilos de vida saludables, cambios de comportamiento y la <br>comunicación de saberes, prácticas y conocimientos.
        </p>
      </div>
      <div >
        <mat-icon style="margin-left: -25px;">list_alt</mat-icon><br><br>
        <h3 class="subtittle_" style="font-size: 18px;"> <strong>SOBERANÍA Y RECTORÍA EN SALUD</strong></h3>
        <p class="paragraphs" style="font-size: 16px; margin-top: -5px;"> 
          Fortalecer la capacidad institucional para la planificación, programación, ejecución, seguimiento, evaluación, regulación, <br>
          fiscalización, la gestión del financiamiento y el desarrollo organizacional.
        </p>
      </div>      
    </div>
  </div>
    
<div class="footer">
  <div class="footer-content">
    <div class="footer-section about" style="width: 25%;">
      <br>
      <br>
      <span ><strong style="font-size: 45px; "> Hospital General </strong></span><br>
      <p style="font-size: 25px; margin-top: 10px; line-height: 1.3;">
        El Sedes La Paz ejerce la rectoría en el Sistema Departamental de Salud, <br>
        promoviendo el derecho de la población en el marco de la Política Departamental<br>
         de “SALUD PARA LA PAZ”, contribuyendo a mejorar la calidad de vida.
    </p>    
    </div>
    <div class="footer-section links">
      <br><br>
      <span ><strong style="font-size: 45px;"> Contactanos </strong></span>
      <br>
      <br>
      <ul>
        <li><span style="font-size: 25px;">Calle Capitan Ravelo Nº 2180 Ciudad La Paz, La Paz, Bolivia</span></li><br>
        <li><span style="font-size: 25px;">Telefono: 2-22441749</span></li><br>
        <li><span style="font-size: 25px;">E-mail: central@sedeslapaz.gob.bo</span></li><br>
        <li><span style="font-size: 25px;">Website: 
          <a style="cursor: pointer;" href="https://www.sedeslapaz.gob.bo/" target="_blank">https://www.sedeslapaz.gob.bo/</a>
        </span></li>    
      </ul>
    </div>
    <div class="footer-section buttons">
      <br><br>
      <span ><strong style="font-size: 45px;"> Navegación </strong></span>      
      <br>
      <br>
      <ul>
        <li><a style="font-size: 25px;" (click)="irRegistro()"> Registrarse</a></li><br>
        <li><a style="font-size: 25px;" (click)="irLogin()"> Iniciar Sesión</a></li>        
      </ul>
    </div>
  </div>  
</div>