<div class="navbar">
  
  <div id="nameNav">
  <img src="assets/icono.jpeg" style="border-radius: 50%; height: 100px; width: 100px; float:left"><br><br>
  <span>Hospital de Clinicas</span>
  <a (click)="volverInicio()" class="right">Volver Pagina Principal</a>
  <a (click)="irLogin()" class="right">Iniciar Sesión</a>
  </div>
</div>
<div id="loginCss">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Hospital de Clinicas</mat-card-title>
          <mat-card-subtitle>Inicio de Sesión</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/imagenlogin.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Complete los campos vacios
          </p>
          <div>
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Correo</mat-label>
                <input matInput type="text" [(ngModel)]="mail">
                <button *ngIf="mail" matSuffix mat-icon-button aria-label="Clear" (click)="mail=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" [(ngModel)]="pass">
                <button *ngIf="pass" matSuffix mat-icon-button aria-label="Clear" (click)="pass=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="iniciarSesion()">Iniciar Sesion</button>
          <button mat-button (click)="volverInicio()">Volver a Inicio</button>
        </mat-card-actions>
    </mat-card>
</div>