<div class="navbar">
  
  <div id="nameNav">
  <img src="assets/icono.jpeg" style="border-radius: 50%; height: 100px; width: 100px; float:left"><br><br>
  <span>Hospital de Clinicas</span>
  <a (click)="volverInicio()" class="right">Volver Pagina Principal</a>
  <a (click)="irLogin()" class="right">Iniciar Sesión</a>
  </div>
</div>    
<div id="loginCss">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Hospital de Clinicas</mat-card-title>
          <mat-card-subtitle>Citas Confirmadas</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Bienvenido {{usuario}}</p>
          <p>Citas confirmadas: {{cantidadCitas}}</p>
          <div style="width: 100%;" *ngFor="let cita of citasMedicas | paginate: { itemsPerPage: cantidadItems, currentPage: paginaActual }">
            <mat-list>
              <mat-list-item>
                <span id="cita" (click)="irRegistroMedico(cita.nombre, cita.fecha, cita.edad, cita.sexo, cita.sintomas, cita.diagnostico, cita.doctor, cita.nregistro)">
                  {{"Paciente: "+cita.nombre + " en la fecha: " +cita.fecha}}
                </span>
              </mat-list-item>
            </mat-list>
          </div>
          <pagination-controls
          (pageChange)="cambioPagina($event)" 
          [responsive]="true"
          previousLabel="Anterior"
          nextLabel="Siguiente"
          [maxSize]="10"></pagination-controls>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="volverInicio()">Regresar Inicio</button>
        </mat-card-actions>
    </mat-card>
</div>