<div class="navbar">
  
  <div id="nameNav">
  <img src="assets/icono.jpeg" style="border-radius: 50%; height: 100px; width: 100px; float:left"><br><br>
  <span>Hospital de Clinicas</span>
  <!--<a (click)="irRegistro()" class="right">Registrarse</a>-->
  <!--<a (click)="irLogin()" class="right">Iniciar Sesión</a>-->
  </div>
</div>    
<div id="loginCss">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Hospital de Clinicas</mat-card-title>
          <mat-card-subtitle>Citas Confirmadas</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Citas confirmadas</p>
          <div style="width: 100%;" *ngFor="let cita of citasMedicas | paginate: { itemsPerPage: cantidadItems, currentPage: paginaActual }">
            <mat-list>
                <mat-list-item>{{"Paciente: "+cita.nombrePaciente + " en la fecha: " +cita.fecha}}</mat-list-item>
            </mat-list>
          </div>
          <pagination-controls
          (pageChange)="cambioPagina($event)" 
          [responsive]="true"
          previousLabel="Anterior"
          nextLabel="Siguiente"
          [maxSize]="10"></pagination-controls>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="volverLogin()">Regresar Inicio</button>
        </mat-card-actions>
    </mat-card>
</div>